html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #a79997;
}
li {
  list-style: none;
}
ul li:last-child {
  margin-bottom: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h3{
  color: #2C2C2C;
font-family: Noto Serif;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
button,
label {
  cursor: pointer;
}
input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input::placeholder {
  color: inherit;
}
button {
  cursor: pointer;
}
input,
textarea {
  display: block;
  resize: none;
}
body {
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: Noto serif;
}
.container {
  max-width: 1680px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
.dn {
  display: none;
}
section {
  padding: 100px 0;
}
.sec_tit {
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}
.color {
  color: #be963f;
}
.dib {
  display: inline-block;
}
.hover {
  transition: 0.3s;
}
.hover:hover {
  color: #be963f;
}
.btn {
  background: linear-gradient(
    93.7deg,
    #f3c87a -1.69%,
    #f3eeca 37.58%,
    #b39556 77.08%,
    #eed489 109.84%
  );
  box-shadow: 0px 4px 0px #836a36;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #34280e;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0px 6px 5px 2px #836a36;
}
.link {
  transition: 0.3s;
}
.link:hover {
  box-shadow: 0px 6px 5px 2px #836a36;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  width: 433px;
  font-size: 18px;
  color: #2c2c2c;

  text-align: center;

  font-weight: 200;
}

.logo {
  width: 174px;
  height: 45px;
  flex-shrink: 0;
}

.account {
  display: flex;
  cursor: pointer;
}

.account_my {
  width: 130px;
  margin-right: 16px;
}

.account_search {
  width: 20px;
  margin-left: 16px;
}
.account_border {
  width: 20;
  border-left: 2px solid #f1e0dd;
}

button {
  background: #ff715b;
  color: #fff;

  text-align: center;
  font-family: Noto Serif;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
  height: 60px;
  flex-shrink: 0;
  transition: 0.5s;
}
button:hover {
  background: #fc5940;
  box-shadow: 0px 10px 30px 5px rgba(132, 121, 119, 0.2);
}

h1 {
  color: #2c2c2c;
  font-family: Noto Serif;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 112px;
  width: 804px;
  margin-left: 135px;
  margin-top: 285px;
  position: absolute;
}


.choose_your_des h3{
  text-align: center;
  margin-top: 50px;
 margin-bottom: 300px;
}

.choose_your_des{
  position: relative;
}



.card_choose img{
  width: 450px;
  height: 535px;
  flex-shrink: 0;
  position: relative;
  display: flex;
}

.card_choose_txt{
  width: 400px;
height: 105px;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 10px 25px 0px rgba(215, 190, 190, 0.20);

position: absolute;
margin-top: -50px;
margin-left: 50px;
}

.card_choose_txt img{
  width: 173px;
  height: 22px;
  flex-shrink: 0;
}

.card_choose_txt h6{
  color: #000;
  font-family: Noto Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 14px;
}


.card_choose_txt p{
  color: #FF715B;
  font-size: 18px;
}

.card_choose_txt button{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.card_choose_mini{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.card_choose_mini button{
  margin-top: -50px;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
}

.card_choose_flex {
  display: flex;
 justify-content: space-evenly;
}

.card_choose_first{
  margin-top: -180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 770px;
}








